<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<table class="table table-striped">
    <thead>
    <tr>
        <th width="5%">ID</th>
        <th width="15%">Name</th>
        <th width="15%">Admin Config</th>
        <th width="15%">Value</th>
        <th width="10%">Status</th>
        <th width="5%">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="configValue : ${adminConfigValuesList}">
        <td th:text="${configValueStat.index+1}"></td>
        <td th:text="${configValue.name}"></td>
        <td th:text="${configValue.adminConfig.configName}"></td>
        <td th:text="${configValue.value}"></td>


        <td th:if="${configValue.status==false}"><span
                class="label label-danger">Inactive</span>
        </td>
        <td th:if="${configValue.status==true}"><span class="label label-success">Active</span>
        </td>
        <td>
            <a th:href="@{'/admin/config/value/edit/form/' + ${configValue.id}}"><i
                    class="fa fa-pencil"></i></a>
            <a class="delete" th:href="@{'/admin/config/value/delete/' + ${configValue.id}}"><i
                    class="fa fa-times"></i></a>
        </td>
    </tr>

    </tbody>
</table>
<div th:include="layout/pagingajax :: pagingnavigation" th:with="pagging=${pagging},ajaxDivId='admin-config-ajax-div'">

</div>